@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark {
  &:where([data-theme="dark"] *) {
    @slot;
  }
  &:where([data-theme="device"] *) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
}

.expressive-code {
  width: 100%;
}

:root {
  --accent-tort: mediumblue;
  --accent-hare: crimson;
}

.dark {
  --accent-tort: #7fb2ff;
  --accent-hare: #ff7a90;
}